@import './styles/variables.scss';
@import './styles/mixins.scss';
@import './styles/common.scss';
@import './styles/topBar.scss';
@import './styles/header.scss';
@import './styles/topSection.scss';
@import './styles/offer.scss';
@import './styles/advantages.scss';
@import './styles/steps.scss';
@import './styles/shop.scss';
@import './styles/contactForm.scss';
@import './styles/accordion.scss';
@import './styles/about.scss';
@import './styles/awards.scss';
@import './styles/reviews.scss';
@import './styles/contacts.scss';
@import './styles/footer.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background: red;
}

a {
    text-decoration: none;
    color: black;
}

.page {

    margin: 0 auto;
    max-width: 1920px;
    font-family: $font-main;
    background: rgba(245, 245, 245, 1);
}