.about {
    &__inner {
        width: 100%;
        padding: 51px 310px;
        @include flex-row();

    }

    &__image {
        width: 50%;
        object-fit: contain;
    }

    &__section {
        padding: 71px 81px;
        width: 50%;
        height: 654px;
    }

    &__description {
        margin-top: 72px;
        display: flex;
        flex-direction: column;
        font-size: 18px;
        color: rgba(136, 144, 153, 1);
        gap: 27px;
        line-height: 149%;

    }

}