.advantages {
    margin-top: 60px;

    &__inner {
        margin: 0 auto;
        width: 100%;
        max-width: 1300px;
        @include flex-row($direction: column, $justify: space-between)
    }

    &__description {
        margin-top: 70px;
        text-align: center;
        width: 100%;
        line-height: 149%;
        color: $dark-gray;
        font-size: 18px;
    }

    &__title {
        color: rgba(55, 61, 67, 1);
        font-size: 38px;
        font-weight: 400;
        line-height: 120%;

        &::after {
            display: block;
            position: absolute;
            content: '';
            width: 50px;
            left: 50%;
            transform: translateX(-50%);
            background: rgba(136, 144, 153, 1);
            height: 1px;
            margin-top: 34px;
        }
    }

    &__sections {
        width: 100%;
        @include flex-row($justify: space-between);
        margin-top: 55px;
    }

    &__section {
        width: 305px;
        position: relative;
        height: 100px;
        @include flex-row($direction: column, $align: start, $justify: start);
        gap: 13px;
        padding-left: 120px;


        &-header {
            color: rgba(55, 61, 67, 1);
            font-size: 20px;
            font-weight: 400;
        }

        &-description {
            font-size: 18px;
            width: 240px;
            line-height: 149%;
            color: $dark-gray;
            margin-top: 10px;
        }

        &_image {
            width: 80px;
            aspect-ratio: 1/1;
            background: rgba(255, 255, 255, 1);
            border-radius: 50%;
            @include flex-row();
            left: 0;
            position: absolute;
            top: 15px;
        }
    }


}