.contact-form {
    margin-top: 52px;

    &__inner {
        margin: 0 auto;
        width: 100%;
        max-width: 1300px;
        @include flex-row();

        @include mobile {
            flex-direction: column;
        }

        @include tablet {
            flex-wrap: wrap;
        }
    }


    &__image {
        width: 100%;
        max-width: 649px;
        height: 753px;

        @include mobile {
            max-height: 300px;
            object-fit: contain;
        }

    }

    &__section {
        width: 50%;
        height: 753px;
        padding: 68px 81px 72px 71px;
        @include flex-row($direction: column);
        background-color: white;

        @include mobile {
            width: 100%;
            padding: 20px;
        }

        @include tablet {
            width: 100%;
            padding: 20px;
        }
    }

    &__title {
        color: rgba(55, 61, 67, 1);
        font-size: 38px;
        font-weight: 400;
        line-height: 120%;
        text-align: start;
        align-self: start;

        @include mobile {
            align-self: center;
            text-align: center;
        }

        @include tablet {
            align-self: center;
            text-align: center;
        }

        &::after {
            display: block;
            position: absolute;
            content: '';
            width: 50px;
            background: rgba(136, 144, 153, 1);
            height: 2px;
            margin-top: 35px;

            @include mobile {

                left: 50%;
                transform: translate(-50%);
            }

            @include tablet {
                left: 50%;
                transform: translate(-50%);
            }
        }

    }

    &__description {
        margin-top: 70px;
        color: $dark-gray;
        font-size: 18px;
        line-height: 149%;
    }



    &__form {
        width: 500px;
        margin-top: 33px;
        @include flex-row($direction: column);
        gap: 25px;

        @include mobile {
            width: 100%;
            max-width: 550px;
        }

    }

    &__input {
        width: 100%;
        height: 65px;
        border-radius: 6px;
        background: rgba(237, 241, 247, 1);
        @include flex-row($justify: space-between);
        position: relative;

        &:first-child {
            padding: 23px 16px 15px 18px;
        }

        &:nth-child(2) {
            padding: 22px 16px 22px 19px;
        }

        &:nth-child(3) {
            padding: 20px 0 22px 19px;
        }

        &:nth-child(4) {

            background: none;

        }

        &-label {
            position: absolute;
            font-size: 14px;
            top: 8px;
            color: rgba(196, 203, 210, 1);

        }

        &-field {
            font-size: 18px;
            flex-grow: 1;
            font-family: $font-main;
            color: rgba(136, 144, 153, 1);
            border: 0px;
            background-color: rgba(237, 241, 247, 1);

            &:focus {
                outline: none;
            }

        }

        &-button {
            width: 13.57px;
            aspect-ratio: 1/1;
            border: 0px;
            background: url('/images/cross.png');
        }
    }

    &__checkbox {
        position: absolute;
        appearance: none;
        width: 20px;
        aspect-ratio: 1/1;
        border-radius: 2px;
        background-color: $yellow;
        cursor: pointer;
        top: 10px;

        :checked {
            background-color: #007bff;
            border-color: #007bff;
        }

        &:checked::after {
            content: '';
            position: absolute;
            left: 8px;
            top: 4px;
            width: 5px;
            height: 10px;
            border: solid rgb(0, 0, 0);
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }

        &-description {
            margin-left: 30px;
            font-size: 18px;
            margin-top: 7px;
            line-height: 149%;
            color: rgba(136, 144, 153, 1);
        }
    }

    &__button {
        width: 100%;
        height: 65px;
        color: rgba(55, 61, 67, 1);
        background: $yellow;

    }
}