.contacts {
    &__inner {
        width: 100%;
        @include flex-row($direction: column);

    }

    &__description {
        margin-top: 49px;
    }

    &__section {
        margin-top: 48px;
        width: 100%;
        max-width: 1300px;
        @include flex-row($justify: space-between);
    }

    &__item {
        width: 250px;
        height: 110px;
        @include flex-row($justify: start);
        position: relative;

        &-number {
            width: 44px;
            aspect-ratio: 1/1;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            font-size: 14px;
            position: absolute;
            background: $yellow;
            top: 5px;
        }


        &-header {
            font-size: 18px;
            color: $dark-gray;
        }

        &-description {
            color: rgba(55, 61, 67, 1);
        }



        &-container {
            margin-left: 77px;
            display: flex;
            flex-direction: column;
            gap: 18px;

        }

    }

    &__map {
        width: 100%;
        position: relative;

        &-image {
            width: 100%;
            margin-top: 53px;

        }

        &-pointer {
            position: absolute;
            z-index: 2;
            left: 50%;
            transform: translate(-50% -50%);
            top: 50%;
        }
    }

}