.offer {


    &__inner {
        margin: 0 auto;
        padding-top: 45.5px;
        width: 100%;
        max-width: 1300px;
        @include flex-row($direction: column)
    }

    &__title {
        color: rgba(55, 61, 67, 1);
        font-size: 38px;
        font-weight: 400;
        line-height: 120%;

        @include mobile {
            text-align: center;
        }

        &::after {
            display: block;
            position: absolute;
            content: '';
            width: 50px;
            left: 50%;
            transform: translateX(-50%);
            background: rgba(136, 144, 153, 1);
            height: 1px;
            margin-top: 36px;
        }
    }

    &__sections {
        margin-top: 83px;
        @include flex-row();
        gap: 20px;

        @include mobile {
            flex-direction: column;
        }

        @include tablet {
            flex-wrap: wrap;
            height: 100%;
        }
    }


    &__section {
        height: 375px;
        width: 310px;
        background: rgba(255, 255, 255, 1);
        @include flex-row($direction: column, $justify: start);

        &-description {
            height: 114px;
            text-align: center;
            @include flex-row($direction: column);
            font-size: 20px;
        }

        &-button--gray {
            width: 215px;
            height: 56px;
            background: $light-gray;
        }
    }
}