.top-bar {
    background: rgba(255, 255, 255, 1);

    &__inner {
        width: 100%;
        height: 50px;
        margin: 0 auto;
        @include flex-row($justify: space-between);
        max-width: 1300px;
        font-family: $font-main;
        padding-left: 3px;

    }

    &__container {
        @include flex-row($gap: 101px);

    }

    &__adress {
        font-size: 18px;
    }

    &__phones {
        font-weight: 400;
        font-size: 18px;
        padding-right: 6px;
        padding-bottom: 3px;


    }

    &__socials {
        @include flex-row($justify: space-between);
        gap: 26.6px;
        padding-right: 1px;


        &-link {
            font-size: 15px;
            font-weight: 500;
            text-transform: uppercase;
            text-decoration: none;
            color: black;


        }
    }
}