.top-section {
    &__inner {
        width: 100%;
        padding: 98px 312px 210px;
        height: 720px;
        background-image: url('/images/topSection.png');
        background-size: auto;
        position: relative;
    }

    &__number {
        line-height: 149%;
        font-size: 18px;
        color: rgba(149, 154, 159, 1)
    }

    &__title {
        max-width: 685px;
        font-size: 70px;
        color: white;
        line-height: 100%;
        letter-spacing: 0%;
        margin-top: 22px;
    }

    &__description {
        color: rgba(149, 154, 159, 1);
        line-height: 149%;
        font-size: 24px;
        font-weight: 400;
        margin-top: 10px;


    }

    &__buttons {
        margin-top: 84px;
        display: flex;
        gap: 18px;
    }


    &__button {

        &--yellow {
            width: 198px;
            height: 56px;
            color: rgba(55, 61, 67, 1);
            background: $yellow;
        }

        &--gray {
            width: 273px;
            height: 56px;
            border: 1px solid $white;
            color: $white;
        }
    }

    &__slider {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 26px;
        height: 5px;
        min-width: 175px;

        @include flex-row($justify: space-between);
        gap: 10px;

        &-item {
            &.active {
                background: $yellow;
                width: 83px;
            }

            width: 23px;
            height: 5px;
            background: rgba(149, 154, 159, 1);
        }
    }

}

.coloured {
    color: $yellow;
}